/*FONTS*/

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* --- Estilos del Footer --- */

.footer {
    background-color: #1A1A1A; 
    color: #F4F4F0;            /* Texto blanco */
    padding: 40px 0;        /* Espacio arriba y abajo */
    font-family: "Playfair Display", serif;
}

.container {
    max-width: 1200px;      /* Ancho máximo para que no se estire infinito */
    margin: 0 auto;         /* Centrar el contenido */
    padding: 0 20px;        /* Un poco de margen a los lados */
}

/* --- Columnas (FLEXBOX) --- */
.footer-columns {
    display: flex;              
    justify-content: space-between; 
    gap: 20px;                  
    flex-wrap: wrap;            /* 4. Permite que bajen si no caben (importante para móvil) */
}

.footer-col {
    flex: 1;                    
    min-width: 200px;           
}

/* --- Estilos de los textos y enlaces --- */
.footer-col h3 {
    margin-bottom: 20px;
    color: #F4F4F0;             
}

.footer-col ul {
    list-style: none;           
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #ccc;
    text-decoration: none;      
    transition: color 0.3s;
}

.footer-col a:hover {
    color: #CCFF00;                
}


.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444; 
    font-size: 0.9em;
}


.social-links {
    display: flex;          
    gap: 15px;             
    margin-top: 15px;
}

.social-links a {
    display: inline-flex;      
    justify-content: center;    
    align-items: center;        
    overflow: hidden;          
    transition: all 0.3s ease;
}   

.social-links a img {
    width: 20px;               
    height: 20px;              
    object-fit: contain;       
    display: block;   
    filter: invert(1) brightness(100%);         
}


.texto-lima {
    color: #7CFF00; 
    
    
}