/*FONTS*/

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 40px;
    width: auto;
}

.header_left {
    display: flex;
    align-items: flex-end;
}

.header_left1 {
    font-size: 25px;
    color: #1A1A1A;
}

.header_left2 {
    font-size: 25px;
    color: #5D3FD3;
}

.header_right_list {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.header_right_list_link {
    text-decoration: none;
    color: #1A1A1A;

}

.header_right_list_link:hover {
    text-decoration: underline;
}
