/*CONTACTO*/

/*ESTRUCTURA GENERAL (Flexbox)*/
.seccion-contacto {
    padding: 80px 20px;         
    background-color: #F4F4F0;  
    font-family: 'Inter', sans-serif;
}

.container-contacto {
    max-width: 1200px;          
    margin: 0 auto;             
    display: flex;              
    gap: 60px;                  
    align-items: center;        
    flex-wrap: wrap;            
}

/*COLUMNA IZQUIERDA*/
.info-col {
    flex: 1;                    
    min-width: 300px;           
}

.info-col h2 {
    font-family: 'Playfair Display', serif; 
    font-size: 3.5rem;          
    line-height: 1.1;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.texto-morado { 
    color: #5D3FD3;             
}

.intro-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Bloques de datos (Email, Teléfono...) */
.dato-item {
    margin-bottom: 30px;        
}

.dato-item h3 {
    font-size: 1.2rem;
    color: #1a1a1a;
    margin-bottom: 5px;
    font-weight: 700;           
}

.dato-item p {
    font-size: 1rem;
    color: #666;
    margin: 3px 0;
}

.subtexto {
    font-size: 0.9rem;
    color: #888;                
}


/* ---COLUMNA DERECHA (Morada)--- */
.form-col {
    flex: 1;                    
    min-width: 300px;
    background-color: #5D3FD3;  
    padding: 40px;              
    border-radius: 16px;        
    box-shadow: 0 10px 30px rgba(91, 47, 167, 0.2); 
    color: white;               
}

.campo { 
    margin-bottom: 20px;        
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #F4F4F0;             
}

/* --- ESTILO "CRISTAL" PARA LOS INPUTS --- */
.form-col input, 
.form-col select, 
.form-col textarea {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 8px;
    color: #F4F4F0;               
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    outline: none;              
    transition: border-color 0.3s;
    max-width: 100%;
} 

/* Efecto al hacer clic dentro de un input */
.form-col input:focus,
.form-col textarea:focus,
.form-col select:focus {
    border-color: #F4F4F0;      
    background-color: rgba(255, 255, 255, 0.2); 
}

/* Color del texto de ayuda */
.form-col ::placeholder { 
    color: rgba(255, 255, 255, 0.5); 
}

/* --- BOTÓN DE ENVIAR --- */
.btn-enviar {
    width: 100%;
    padding: 16px;
    background-color: #7B68EE;  
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;            
    margin-top: 10px;
    transition: background 0.3s;
}

.btn-enviar:hover {
    background-color: #8A2BE2;  
}

/* --- RESPONSIVE (Móviles) --- */
@media (max-width: 768px) {
    .container-contacto {
        flex-direction: column; 
        gap: 40px;
    }
    
    .info-col h2 { 
        font-size: 2.5rem;      
    }
}